<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.exefire.hito"
        versionCode="10"
        version   = "1.0.0">
  <name>Hito Demo</name>
  <description>Demo de Hito Manager</description>
  <author href="http://www.exefire.com" email="egallardo@exefire.com">Exequiel Gallardo</author>
  <preference name="phonegap-version" value="2.9.0" />
  <preference name="orientation" value="portrait" />
  <preference name="prerendered-icon" value="true" />
  <preference name="target-device" value="handset" />
  
  <!-- if a single icon is specified then Build will use it for all platforms -->
  <icon src="icons/icon.png" />
	<preference name="BackgroundColor" value="0x6FACD5ff"/>
  
  <!-- Android requires specific dimensions; ldpi, mdpi, and hdpi respectively -->
  <icon src="icons/android/icon-android-36.png" gap:platform="android" gap:density="ldpi" />
  <icon src="icons/android/icon-android-48.png" gap:platform="android" gap:density="mdpi" />
  <icon src="icons/android/icon-android-72.png" gap:platform="android" gap:density="hdpi" />
  <icon src="icons/android/icon-android-72.png" gap:platform="android" gap:density="xhdpi" />
  
	<gap:splash src="splash/splash.png" />
	  
  <!-- NUEVO iOS -->
  
  <icon src="icons/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
  <icon src="icons/ios/icon-57_at_2x.png" gap:platform="ios" width="114" height="114" />
  <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
  <icon src="icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
  <icon src="icons/ios/icon-76_at_2x.png" gap:platform="ios" width="152" height="152" />
  <icon src="icons/ios/icon-120.png" gap:platform="ios" width="120" height="120" />
  <gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="splash/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
  <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />
  <gap:splash src="splash/ios/Default-568h.png" gap:platform="ios" width="320" height="568" />
  <gap:splash src="splash/ios/Default-568@2x.png" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="splash/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1496" />
  <gap:splash src="splash/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2008" />
  
  <!-- FIN NUEVO -->
  
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

		<access origin="http://phonegap.com" subdomains="true" />
		
		<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
		
		<plugin name="Geolocation" value="CDVLocation" />
		
		<access origin="*" />
</widget>
